body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  background-color: #F0FFFF;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.poster {
  position: relative;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  background: #000000;
  background-size: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px 10px;
  width: 130%;
  height: 130%;
  transform: rotate(35deg);
  transform-origin: center;
}

.box {
  border-radius: 4px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.box:hover {
  transform: scale(0.8);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.box1 {
  grid-column: span 2;
  grid-row: span 3;
  background-color: #FD0100;
}

.box2 {
  grid-column: span 1;
  grid-row: span 2;
  background-color: #F76915;
}

.box3 {
  grid-column: span 3;
  grid-row: span 2;
  background-color: #EEDE04;
}

.box4 {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #A0D636;
}

.box5 {
  grid-column: span 2;
  grid-row: span 2;
  background-color: #2FA236;
}

.box6 {
  grid-column: span 3;
  grid-row: span 3;
  background-color: #333ED4;
}

.text-area {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  z-index: 10;
  color: #F0FFFF;
}

.title {
  font-size: var(--title-font-size, 2.5rem);
  font-weight: bold;
  margin: var(--title-margin, 10px);
  color: var(--title-color, #F0FFFF);
  letter-spacing: var(--title-letter-spacing, 1px);
  margin-top: var(--title-margin-top, 10px);
}

.subtitle {
  font-size: var(--subtitle-font-size, 1rem);
  margin: var(--subtitle-margin, 10px);
  color: var(--subtitle-color, #F0FFFF);
  letter-spacing: var(--subtitle-letter-spacing, 2.5px);
  margin-top: var(--subtitle-margin-top, 2px);
  margin-bottom: var(--subtitle-margin-bottom, 5px);
}
